{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Fraud Detection Results</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    {% block content %}
        <header>
        
            <h1>Fraud Detection Results</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'upload_form' %}">Upload data</a></li>
                    <li><a href="http://211.188.51.137:5601/app/dashboards#/view/58a42c20-7a19-11ef-9b66-13538d49ff90?_g=(filters:!(),refreshInterval:(pause:!f,value:10000),time:(from:'1969-12-31T23:59:59.880Z',to:'1969-12-31T23:59:59.890Z'))">View Dashboard in Kibana</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                </ul>
            </nav>
        
        </header>
        
        <h2>Predictions</h2>
        <ul>
            {% for prediction in predictions %}
            <li>{{ prediction }}</li>
            {% endfor %}
        </ul>
    {% endblock %}
</body>
</html>
