{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fraud Detection Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Fraud Detection Dashboard</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'upload_form' %}">Upload More Data</a></li>
                <li><a href="http://211.188.51.137:5601/app/dashboards#/view/58a42c20-7a19-11ef-9b66-13538d49ff90?_g=(filters:!(),refreshInterval:(pause:!f,value:10000),time:(from:'1969-12-31T23:59:59.880Z',to:'1969-12-31T23:59:59.890Z'))">View Dashboard in Kibana</a></li>
                <!--<li><a href="{% url 'test_fraud' %}">Test Fraud</a></li>-->
            </ul>
        </nav>
    </header>

    <!-- Kibana 대시보드를 iframe으로 임베드하여 실시간 시각화 -->
    <iframe src="{{ kibana_url }}" style="width:100%; height:100vh;" frameborder="0"></iframe>
</body>
</html>
